header(id="main_header")

div(id="main_content")
  h1 Drip is continuous integration for node.js.

  h2 Technologies
  ul 
    li node.js
    li express.js
    li expresso
    li jade
    li coffee-resque
    li mongoose
    li backbone.js
    li less

  h2 Services
  ul
    li MongoHQ
    li Radish
    li Redis To Go

  h2 Team
  ul
    li Christopher Meiklejohn
    li Barnaby Claydon
    li Simon Hojberg
