!!! 5 ♥
html(lang="en")
  head
    meta(charset='utf-8')
    title drip: the expresso testing service
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css")
    link(rel="stylesheet/less", type="text/css",href="/css/core.less")
    script(src="js/vendor/less-1.1.3.min.js")
    script(src="js/vendor/underscore-min.js")
    script(src="js/vendor/json2.js")
    script(src="js/vendor/backbone-min.js")

  body
    != body
