!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    title drip: the expresso testing service
    //if lt IE 9
      script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css")
    link(rel="stylesheet/less", type="text/css",href="/css/core.less")
    script(src="js/vendor/less-1.1.3.min.js")
    script(src="js/vendor/underscore-min.js")
    script(src="js/vendor/json2.js")
    script(src="js/vendor/jquery-1.6.2.min.js")
    script(src="js/vendor/backbone-min.js")
    
    script(src="js/app/routers/app_router.js")
    script(src="js/app/models/build.js")
    script(src="js/app/views/add_repository_view.js")

    script(type="text/template", id="add_repository_tmpl")
      h1 Enter your github repository url to start running them pesky tests ☻
      form
        input(type="text", class="xlarge repository_url_input")
        a(class="btn primary large add") Add repository

  body
    != body

  script
    var appRouter = new AppRouter({});
    var view = new AddRepositoryView({});
    $("#main_content").html(view.render().el);
    Backbone.history.start();
