@import "bootstrap/bootstrap.less";

/* =VARIABLES
================================================== */
@canvas: #333;
@canvas_foreground: #fff;
@foreground: #333;
@background: #eee;

@lightgreen: #efffef;
@lightred: #ffebeb;
@failred: rgba(255, 0, 0, 0.75);
@successgreen: rgba(16, 191, 9, 0.95);

/* =BROWSER
================================================== */
html, body                                              { background: @canvas url(/img/noisebg.png);  }

/* =SHARED
================================================== */
.pane                                                   { background: @background; color: @foreground; position: absolute; top: 0; right: 0; bottom: 0; left: 200px; overflow-y: auto;
  .border-radius;
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
  text-shadow: 0px 1px 1px @white;
}

.pane::-webkit-scrollbar { width: 8px; }
.pane::-webkit-scrollbar-track { background: transparent; }
.pane::-webkit-scrollbar-thumb { border-radius: 10px; background: #aaa; }

.pane_header                                            { padding: 10px 20px 15px 20px; color: @white; font-size: 20px; line-height: 20px;
  .gradientBar(@blue, @blueDark);
  text-shadow: 0px 1px 2px fadeout(@black, 60);
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  border-top: 1px solid fadeout(@white, 50%);
}

.pane.build_details                                     { left: 30% }

.sub_header                                             { padding: 10px 20px; color: @white;
  .gradientBar(@grayLight, @gray);
  text-shadow: 0px 1px 2px fadeout(@black, 90);
}

input[type="text"].error, input[type="password"].error, textarea.error { border-color: #C87872;
  .box-shadow(0 0 3px rgba(171, 41, 32, 0.25));
}

.success                                                { background: @lightgreen; }
.failure                                                { background: @lightred; }


/* =LAYOUT
================================================== */
#main_logo                                              { margin-left: 30px; background: url(/img/driplogo.png) no-repeat; width: 200px; height: 100px; }
#main_content                                           { position: absolute; top: 100px; right: 40px; bottom: 40px; left: 40px; }

/* =STATES
================================================== */

/* --- loader --- */
#loader                                                 { width: 400px; margin: auto; text-align: center; }
#loader img { .border-radius; }
#loader h4 { color: @grayLight;
  text-shadow: 0px 1px 2px fadeout(@black, 80%);
}

/* --- add repository --- */
.add_repository                                         { width: 750px; margin: 70px auto; position: relative; }
.add_repository h1                                      { color: @canvas_foreground; }
.add_repository h2, h3                                  { color: @canvas_foreground; }
.add_repository form                                    { position: absolute; }
.add_repository .repository_url_input                   { width: 750px; height: 40px; font-size: 30px;}
.add_repository .btn.add                                { position: absolute; top: 6px; right: 6px; } 
.add_repository .error_message                          { display: none; margin-top: -2px; font-size: 16px; color: @canvas_foreground; padding: 10px; text-align: center; 
  background: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(255, 0, 0, 0.1);
  -webkit-border-radius: 0px 0px 4px 4px;
     -moz-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

/* --- repository list view --- */
.repository_list                                        { position: absolute; top: 5px; bottom: 5px; left: 0; width: 200px; overflow-y: auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  .box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.5));
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.repository_list::-webkit-scrollbar { width: 6px; }
.repository_list::-webkit-scrollbar-track { background: transparent; }
.repository_list::-webkit-scrollbar-thumb { border-radius: 10px; background: #000; }

.repository_list ul                                     { list-style: none; margin: 0; padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.repository_list ul li                                  { padding: 10px 15px; cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.repository_list ul li:hover                            { color: @grayLight; background: fadeout(@black, 90%); border-top: 1px solid fadeout(@black, 80%); }
.repository_list ul li:first-child                      { border-top: 0; }

.select_repository                                      { width: 350px; text-align: center; margin: 150px auto; font-size: 20px; color: #aaa; }

/* --- show repository view --- */
.pane_header .build_result                              { position: absolute; right: 10px; top: 12px; width: 30px; height: 20px; border: 1px solid fadeout(@black, 60%);
  .box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.5));
  .border-radius(15px);
}

/* --- build list view --- */
.build_list                                             { list-style: none; margin: 0; }
.build_list .build_list_item                            { padding: 10px 20px; cursor: pointer; 
  .gradientBar(@grayLighter, lighten(@grayLight, 5%));
  color: #333;
  text-shadow: 0px 1px 1px @white;
  border-bottom: 1px solid #aaa; 
  border-top: 1px solid #fff; 
}
.build_list .build_list_item:hover                      { color: #000;}
.build_list .failure                                    { text-shadow: 0 0 5px @failred }
.build_list .success                                    { text-shadow: 0 0 5px @successgreen }
.build_list .running                                    { backgound: @lightgreen url(/img/running.gif) no-repeat 0 center }

.latest_build_results                                   { padding: 20px; }
